{% extends "general_pages/base.html" %}

{% block title %}
<title>Care Connect | Logout</title>
{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="card mt-3">
      <div class="block text-center">

<h1>Sign Out</h1>

<p>Are you sure you want to sign out?</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-main btn-small btn-round" type="submit">Sign Out</button>
  <a href="{% url 'homepage' %}">&nbsp&nbsp CANCEL</a>
</form>

</div>
</div>
</div>
</div>
</div>
</div>

{% endblock content %}