{% extends "general_pages/base.html" %}
{% load static %}

{% block title %}
<title>Care Connect | Appointment</title>
{% endblock title %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn"> Appointment</h1>
                <a href="{% url 'homepage' %}" class="h4 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="{% url 'appointment' %}" class="h4 text-white">Appointment</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Appointment Start -->
    <div class="container-fluid bg-primary bg-appointment mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: 90px;">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">
                        <h1 class="display-5 text-white mb-4">We Are A Certified and Award Winning Hospital You Can Trust</h1>
                        <p class="text-white mb-0">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                        <h1 class="text-white mb-4">Make Appointment</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <select name="appointment" class="form-select bg-light border-0" style="height: 55px;" required>
                                        <option disabled selected value>Appointment Type</option>
                                        <option value="Regular">Regular Appointment-Rs.1500</option>
                                        <option value="Nurse">Nurse Appointment-Rs.500</option>
                                        <option value="Emergency">Emergency Appointment-Rs.2000</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select name="doctor" class="form-select bg-light border-0" style="height: 55px;" required>
                                        <option disabled selected value>Select Doctor</option>
                                        <option value="Cardiologist">Cardiologist</option>
                                        <option value="Neurologist">Neurologist</option>
                                        <option value="ENT Specialist">ENT Specalist</option>
                                        <option value="Oncologist">Oncologist</option>
                                        <option value="Orthopaedic">Orthopaedic</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="date">Appointment Date</label>
                                    <div class="date" id="date1" data-target-input="nearest">
                                        <input type="date" name="date" class="form-control bg-light border-0 datetimepicker-input" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="time">Appointment Time</label>
                                    <div class="time" id="time1" data-target-input="nearest">
                                        <input type="time" name="time" class="form-control bg-light border-0 datetimepicker-input" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" name="health_issue" class="form-control bg-light border-0" placeholder="Health Issue" style="height: 55px;" required>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit">Make Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
    
{% endblock content %}